.header {
  height: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 17px 20px;
}
.name-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.uppercase {
  text-transform: uppercase;
}
.name {
  font-size: 18px;
  margin-left: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar {
  width: 60%;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  background-color: #f3f5fc;
  display: flex;
  align-items: center;
  border: 1px solid rgb(155, 161, 175);
  margin-left: 20px;
}
.icon {
  border-right: 1px solid rgb(155, 161, 175);

  color: rgb(155, 161, 175);
  padding: 0px 12px 0px 0px;
  height: 38px;
  max-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.searchbar input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: rgb(155, 161, 175);
}
.logsbutton {
  width: 180px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.logtext {
  cursor: pointer;
  color: rgb(145, 150, 152);
  font-size: 14px;
  font-weight: 500;
}
.details-btn {
  font-size: 14px;
  color: rgb(0, 161, 253);
  height: 35px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(237, 244, 255);
  border-radius: 4px;
  border-color: rgb(0, 161, 253);
  border-style: solid;
  border-width: 1px;
  padding: 0px 13px;
  cursor: pointer;
}
